/* For screens 800px and under */
 @media screen and (max-width: 850px) {
    /* For portrait orientation */
     @media screen and (orientation: portrait) {
         html, body{
             height: 100%;
             width: 100%;
           overflow: hidden;
         }

         #content {
             margin: 0px;
             height: 100%;
           width: 100%;
           display: flex;
        }
         #myCanvas {
             margin: 0px;
             height: 350px;
           width: 350px;
           position: absolute;
           overflow: hidden;
           
        }
       #page-title {
  font-family: fantasy;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 1;
  color: #ffbb1c;
}
  }

   
@media screen and (orientation: landscape) and (max-width: 1000px) {
html, body{
             height: 100%;
             width: 100%;
  overflow: hidden;
         }

         #content {
             margin: 1px;
             height: 100%;
           width: 100%; 
            display: flex;
        }
         #myCanvas {
             margin: 0px;
             height: 250px;
           width: 500px;
           position: absolute;
        }
         #page-title {
  font-family: Times New Roman;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 1;
  color: #ffbb1c;
}
}
 