html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  text-align: center;
}

html {
  background-image: url("images/aaaaav4.png");
  background-size: cover;
}

#myCanvas{
    border-style: solid;
  border-color: black;
     background-image: url("images/Map Background.png");
  background-size: cover;
  flex: 1;

}

#content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  position: relative;
  margin: 0px;
  padding: 0px;
}

#loginmessagediv {
    color: #f7f7f7;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 2px #000000;
    font-weight: bold;
}

#logindiv {
  font-family: Arial, sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  box-shadow: 0 0 0 3px white; /* added box-shadow property */
  padding: 20px;
  background-color: white;
  border-radius: 3px;
  width: 300px;
}

input {
    font-family: Arial, sans-serif;
    margin: 8px;
    font-size: 18px;
    background-color: #333;
    color: white;
    padding: 6px;
    border-radius: 5px;
    width: 285px;
}

#page-title {
  font-family: fantasy;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 1;
  color: #ffbb1c;
}

#sendButton {
  background-color: #12ce12;
  color: white;
  font-family: Arial, sans-serif;
  font-weight: bold;
  width: 300px;
  border-radius: 5px;
}

button {
    border-style: none;
    padding: 8px;
    width: min-content;
    font-size: 22px;
    color: black;
    background-color: #cec474;
    border-radius: 10px;
    transition: 0.2s;
}
button:hover {
    border-style: none;
    padding: 8px;
    width: min-content;
    font-size: 22px;
    color: white;
    background-color: #ce7373;
    border-radius: 10px;
    transition: 0.2s;
}

#my-leaderboard-table {
  width: 340px;
  max-width: 400px; 
  background-color: white;
  font-family: monospace;
  box-shadow: 0 0 0 3px white; /* added box-shadow property */
  border-radius: 3px;
  margin-bottom: 35px;
}

#my-leaderboard-table tr:first-child {
  background-color: black;
  color: white;
}

#my-leaderboard-table tr:nth-child(2) td:first-child {
  background-color: gold;
  color: black;
}

#my-leaderboard-table tr:nth-child(2) td:nth-child(2) {
  background-color: gold;
  color: black;
}

#my-leaderboard-table tr:nth-child(2) td:last-child {
  background-color: gold;
  color: black;
}

#my-leaderboard-table tr:nth-child(3) td:first-child {
  background-color: silver;
  color: black;
}

#my-leaderboard-table tr:nth-child(3) td:nth-child(2) {
  background-color: silver;
  color: black;
}

#my-leaderboard-table tr:nth-child(3) td:last-child {
  background-color: silver;
  color: black;
}

#my-leaderboard-table tr:nth-child(4) td:first-child {
  background-color: #cd7f32;
  color: black;
}

#my-leaderboard-table tr:nth-child(4) td:nth-child(2) {
  background-color: #cd7f32; 
  color: black;
}

#my-leaderboard-table tr:nth-child(4) td:last-child {
  background-color: #cd7f32;
  color: black;
}

#play-button {
  font-family: Arial, sans-serif;
  font-weight: bold;
  position: relative;
  width: 350px;
  padding: 20px;
  background-color: #12ce12;
  color: white;
  font-size: 24px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  top: 30%;
}

#customize {
  display: flex;
  width: 350px;
  height: 200px;
  background-color: white;
}

#arrow1, #head, #arrow2 {
  flex: 1;
  height: 100%,;
  justify-content: center;
  align-items: center;
  display: flex;
}

#head {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}